# Ignore everything in the root...
/*

# ...except these things...
!.gitignore
!.gitattributes
!composer.json
!gulpfile.js
!package.json
!php-codesniffer-ruleset.xml
!package-lock.json
!README.md
!setup.sh
!/src
!/build
!/dist
!/gulp

# ...but ignore these guys everywhere.
.sass-cache/
.DS_Store

